.boxTab {
   min-height: 20rem;
   display: flex;
   flex-direction: column;
}


.dialogContent {
   &::-webkit-scrollbar-track {
      background-color: #F4F4F4;
   }

   &::-webkit-scrollbar {
      width: 10px;
      background: #F4F4F4;
   }

   &::-webkit-scrollbar-thumb {
      background: #dad7d7;
      border-radius: 15px;
   }

   * {
      ::-webkit-scrollbar-track {
         background-color: #F4F4F4;
      }
   
      ::-webkit-scrollbar {
         width: 10px;
         height: 10px;
         background: #F4F4F4;
      }
   
      ::-webkit-scrollbar-thumb {
         background: #dad7d7;
         border-radius: 15px;
      }
   }
}